body {
	background-color: #25465e;
	margin: 0px;
}

h1 {
	width:100%;
	background: #0a0a0a;
	color: #caad2d;
	margin: 0 auto;
	padding: 10px 0px;
	font-family: fantasy;
	text-align: center;
}

h2 {
	width:100%;
	background: #0a0a0a;
	color: #caad2d;
	margin: 0 auto;
	padding: 10px 0px;
	font-family: fantasy;
	text-align: center;
}

p {
	font-family: fantasy;
}
